@page
@model HospiEnCasa.App.Frontend.Pages.HU_01Model
@{
}
<form method="post">
    <fieldset>
        <legend>Registrar paciente</legend>
        <label>campos obligatorios (*)</label><br>
        <label asp-for="Paciente.DocumentoIdentidad">Documento de identidad *</label><br>
        <input type="number" asp-for="Paciente.DocumentoIdentidad" id="documento_Paciente" required><br>
        <label asp-for="Paciente.Nombre">Nombre del paciente *</label><br>
        <input type="text" asp-for="Paciente.Nombre" id="nombre_Paciente" pattern="[a-zA-Z ]{2,254}" required><br>
        <label asp-for="Paciente.Apellidos">Apellidos del paciente *</label><br>
        <input type="text" asp-for="Paciente.Apellidos" id="apellidos_Paciente" pattern="[a-zA-Z ]{2,254}" required><br>
        <label asp-for="Paciente.Telefono">Numero teléfonico del paciente *</label><br>
        <input type="number" asp-for="Paciente.Telefono" id="numero_Paciente" required><br>
        <label asp-for="Paciente.Genero">Genero</label><br>
        <input type="text" asp-for="Paciente.Genero" id="genero_Paciente" placeholder="Campo opcional" ><br>
        <label asp-for="Paciente.Direccion">Dirección del paciente *</label><br>
        <input type="text" asp-for="Paciente.Direccion" id="direccion_Paciente" required><br>
        <label asp-for="Paciente.Ciudad">Ciudad de residencia *</label><br>
        <input type="text" asp-for="Paciente.Ciudad" id="ciudad_Paciente" pattern="[a-zA-Z ]{2,254}" required><br>
        <label asp-for="Paciente.FechaNacimiento">Fecha de nacimiento *</label><br>
        <input type="date" asp-for="Paciente.FechaNacimiento" id="fechaNacimiento_Paciente" required><br>
        <label asp-for="Paciente.Latitud">Latitud</label><br>
        <input type="text" asp-for="Paciente.Latitud" id="latitud_Paciente" placeholder="Campo opcional" ><br>
        <label asp-for="Paciente.Longitud">Longitud</label><br>
        <input type="text" asp-for="Paciente.Longitud" id="longitud_Paciente" placeholder="Campo opcional" ><br><br>
        <button type="submit" value="Registrar paciente">Registrar paciente</button>
    </fieldset>
</form>