@page
@model Index_AdminModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Admin</h1>
    <p>selecciona uno de los formularios en la barra superior para continuar</p>
</div>
