@page
@model MyApp.Namespace.Editar_FamiliarModel
@{
}

<h1>Actualizar información de contacto del familiar @Model.FamiliarDesignado.Nombre @Model.FamiliarDesignado.Apellidos</h1>

<form method="post">
    <fieldset>
        <legend>Actualizar información del familiar</legend>
        <label>campos obligatorios (*)</label><br>
        <label asp-for="FamiliarDesignado.Telefono">Numero teléfonico del familiar *</label><br>
        <input type="number" asp-for="FamiliarDesignado.Telefono" required><br>
        <label asp-for="FamiliarDesignado.Correo">Correo electronico del familiar *</label><br>
        <input type="text" asp-for="FamiliarDesignado.Correo" required><br><br>
        <button type="submit" value="Actualizar datos">Actualizar datos</button>
    </fieldset>
</form>