@page
@model HospiEnCasa.App.Frontend.Listar_MedicoModel
@{
}
<h1>Listado de medicos</h1>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Cedula</th> 
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Opciones</th>
    </tr>
    </thead>
    @foreach (var medico in Model.Medicos)
    {
        <tr>
            <td>
                @medico.DocumentoIdentidad
            </td>
            <td>
                @medico.Nombre
            </td>
            <td>
                @medico.Apellidos
            </td>
             <td>
                <a asp-page="../Pacientes_Medico/Pacientes_Medico" asp-route-medicoId="@medico.Id">  Listado de pacientes</a>
            </td>
        </tr>

    }
</table>