@page
@model HospiEnCasa.App.Frontend.HU_04Model
@{
}
<h1>Listado de Pacientes Hospitalizados en casa </h1>
<table>
    @foreach (var paciente in Model.Pacientes)
    {
        <tr>
            <td>
                @paciente.DocumentoIdentidad
            </td>
            <td>
                @paciente.Nombre
            </td>
            <td>
                @paciente.Apellidos
            </td>
             <td>
                <a asp-page="../Asignar_Familiar/Asignar_Familiar" asp-route-pacienteDocumento="@paciente.DocumentoIdentidad">
                    Asignar familiar
                </a>
            </td>
        </tr>

    }
</table>