@page
@model MyApp.Namespace.Registrar_SignoVitalPModel
@{
}
<h1>Añadir un signo vital</h1>

<form method="post">
    <fieldset>
        <legend>Registrar signo vital</legend>
        <label>campos obligatorios (*)</label><br>
        <label asp-for="SignoVital.Signo">Tipo de signo *</label><br>
        <select asp-for="SignoVital.Signo" required>
        <option value="tensionArterial">Tension arterial</option>
        <option value="frecuenciaCardiaca" selected>Frecuencia cardiaca</option>
        <option value="saturacionOxigeno">Saturación de oxigeno</option>
        <option value="temperaturaCorporal">Temperatura corporal</option>
        </select><br>
        <label asp-for="SignoVital.Valor">Valor *</label><br>
        <input type="text" asp-for="SignoVital.Valor" required><br><br><br>
        <button type="submit" value="Registrar SignoVital">Registrar signo vital</button>
    </fieldset>
</form>