@page
@model HospiEnCasa.App.Frontend.Listar_MedicoModel
@{
}
<h1>Listado de medicos</h1>
<br>
<button value="Añadir paciente nuevo" onclick="location.href = '../Admin/Registrar_Medico/Registrar_Medico';" class="btn btn-primary">Añadir medico nuevo</button>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th>Cedula</th> 
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Opciones</th>
    </tr>
    </thead>
    @foreach (var medico in Model.Medicos)
    {
        <tr>
            <td>
                @medico.DocumentoIdentidad
            </td>
            <td>
                @medico.Nombre
            </td>
            <td>
                @medico.Apellidos
            </td>
             <td>
                <a asp-page="../Pacientes_Medico/Pacientes_Medico" asp-route-medicoDocumento="@medico.DocumentoIdentidad">  Listado de pacientes</a>
            </td>
        </tr>

    }
</table>